<div id="<%= dom_id comment %>">
  <div class="row">
    <span>
      <cite><%= comment.user.name %>: </cite>
      <span><%= comment.text %></span>
    </span>

    <%= render "comments/delete_comment", comment: comment %>
  </div>
</div>
