/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree . // add = to re-enable auto-include all css files in this directory
 *= require_self
 */

body {
  min-height: 100vh;
  min-width: 100vw;
}

main {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none !important;
}

span {
  padding-top: 12px;
  font-size: 14px;
  text-align: right;
  color: gray;
  opacity: 0.8;
}

.self-center {
  align-self: center;
}
