.user-card {
  display: grid;
  grid-template-columns: 140px 1fr;
  gap: 20px;
}

.user-card:hover {
  border-color: var(--accent);
}

.user-card img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.user-card p {
  text-align: right;
  color: gray;
}
